<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <navbar class="navbar">
        <img src="{{ url_for('static', filename='img/atena-logo.png') }}" alt="atena logo" height="50" id="logo">
        <div id="repositorio-link">
            <a href="https://github.com/FranciscoCBueno/Atena" id="github" target="_blank">
                <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub logo" height="20">
                GitHub</a>
        </div>
    </navbar>
    <div class="container">
        <div id="selections">
            <button id="btn-texto" class="selected-btn">Texto</button>
            <button id="btn-arquivo">Arquivo</button>
        </div>
        <form id="email-form">
            <div id="container-texto">
                <textarea id="texto-email" name="texto" placeholder="Cole o conteúdo do email aqui..."></textarea>
            </div>
            <div id="container-arquivo" class="hidden">
                <div id="upload-area">
                    <span>Faça upload de um arquivo:</span>
                    <input type="file" id="arquivo-email" name="arquivo" accept=".txt,.pdf">
                    <label for="arquivo-email" id="procurar-btn">Selecionar</label>
                </div>
                <span id="file-name" class="file-name-display"></span>
            </div>
            <div class="container-seletor">
                <label for="seletor-modelo">Escolha o modelo de IA a ser usado: </label>
                <select name="model" id="seletor-modelo">
                    <option value="geminipro" selected>Gemini 2.5 Pro</option>
                    <option value="geminiflash">Gemini 2.5 Flash</option>
                    <option value="openai">GPT 3.5 Turbo</option>
                    <option value="huggingface">Hugging Face</option>
                    <option value="localnlp">Modelo Local</option>
                </select>
            </div>
            <button type="submit" id="analisar-btn">Analisar Email</button>
        </form>

        <p id="aviso-arquivos" class="hidden">Atenção: insira apenas o texto ou um arquivo</p>
        <p id="aviso-vazio" class="hidden">Atenção: nenhum texto ou arquivo inserido</p>
        
        <div id="loading" class="hidden">
            <div id="loading-content">
                Analisando... Por favor, aguarde.
                <div id="loading-icon"></div>
            </div>
        </div>

        <div id="results-container" class="hidden">
            <h2>Resultados da Análise</h2>
            <div id="results">
                <div class="result-item">
                    <span>Este e-mail é <span id="resultado-categoria"></span></span>
                </div>
                <div class="result-item" id="sugestao-resposta">
                    <strong>Sugestão de Resposta:</strong>
                    <p id="resultado-sugestao"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>